.card-proxy-container {
  box-sizing: border-box;

  width: 62.5mm;
  height: 87.5mm;

  margin: 0.5px;

  border: 1px solid black;
}

.card-proxy-wrapper {
  height: 100%;
  padding: 15px;

  display: flex;
  flex-direction: column;

  border: 8px solid black;
}

/* Taken from here: http://i.imgur.com/dMjPOq0.png
  W BG: rgb(248, 231, 185)
  W FG: rgb(249, 250, 244)

  U BG: rgb(179, 206, 234)
  U FG: rgb(014, 104, 171)

  B BG: rgb(166, 159, 157)
  B FG: rgb(021, 011, 000)

  R BG: rgb(235, 159, 130)
  R FG: rgb(211, 032, 042)

  G BG: rgb(196, 211, 202)
  G FG: rgb(000, 115, 062)
*/
.card-proxy-wrapper-white {
  border-color:rgb(248, 231, 185);
}

.card-proxy-wrapper-blue {
  border-color:rgb(014, 104, 171);
}

.card-proxy-wrapper-black {
  border-color:rgb(021, 011, 000);
}

.card-proxy-wrapper-red {
  border-color:rgb(211, 032, 042);
}

.card-proxy-wrapper-green {
  border-color:rgb(000, 115, 062);
}

.card-proxy-wrapper-multicolor {
  border-color:#ebbf04;
}

.card-proxy-wrapper-colorless {
  border-color:rgb(119, 137, 161);
}

.card-proxy-wrapper-land {
  border-color:#6a4922;
}

.card-proxy-name {
  box-sizing: border-box;
  flex: 0 0 8mm;

  font-family: Beleren;
  font-size: 8mm;
  text-align: center;
}

.card-proxy-spacer {
  box-sizing: border-box;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 4mm;
  text-align: center;
}

.card-proxy-field {
  box-sizing: border-box;
  flex: 0 0 8mm;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 4mm;
  text-align: center;
}

.card-proxy-field-type {
  font-family: Beleren;
}

.card-proxy-field-symbol {
  font-size: 8mm;
}

@media print {
  .card-proxy-container {
      break-inside: avoid-page;
      float: left;
  }
}